@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Фотоцентр занимается оказанием фотоуслуг и продажей фототоваров.</h1>
</div>
